.DS_Store
/other_sites/showcases/yuyan/config.php
/other_sites/showcases/yuyan/data/cache/
/other_sites/showcases/yuyan/data/install.lock
/other_sites/showcases/yuyan/data/view/
/other_sites/showcases/yuyan/uploads/201007/
/other_sites/showcases/yuyan/uploads/201008/
tags
/other_sites/sometry/chrome_extention_p_*
*.swp
