/* Global Styles */
.clearfix:after { clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}

ul.clearfix > li{
    float: left;
    display: block;
}

html{
	color:#666;
	background:#eaeaeb;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    font-family: 'Shojumaru', 黑体, Arial, Helvetica, sans-serif, 宋体;
	vertical-align: middle;
	background: transparent;
    word-wrap:break-word;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select{
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -icab-box-sizing:border-box;
    -khtml-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body{
    font-family: sans-serif;
	font-size: 16px;
    line-height: 100%;
}

ol, ul {
	list-style: none;
}

table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}

caption, th {
	text-align:left;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
h5, h6{
    line-height: 30px;
    font-size: 14px;
    font-family: 黑体;
    font-weight: bold;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
h5{ color: #2d5c00; }
h6{ color: #ff7800; }

q:before, q:after { content:''; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

abbr, acronym {
	border:0;
	font-variant:normal;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input, textarea, select { *font-size:100%; background-color: transparent}
/*because legend doesn't inherit in IE */
legend { color:#000; }

.marginAuto {margin:auto !important;}
.marginBottom0 {margin-bottom:0px !important;}
.marginBottom5 {margin-bottom:5px !important;}
.marginBottom10 {margin-bottom:10px !important;}
.marginBottom15 {margin-bottom:15px !important;}
.marginBottom20 {margin-bottom:20px !important;}
.marginBottom30 {margin-bottom:30px !important;}
.marginBottom40 {margin-bottom:40px !important;}
.marginTop0 {margin-top:0px !important;}
.marginTop5 {margin-top:5px !important;}
.marginTop10 {margin-top:10px !important;}
.marginTop15 {margin-top:15px !important;}
.marginTop20 {margin-top:20px !important;}
.marginTop30 {margin-top:30px !important;}
.marginTop40 {margin-top:40px !important;}
.marginTopm7 {margin-top:-7px !important;}
.marginLeft0 {margin-left:5px !important;}
.marginLeft5 {margin-left:5px !important;}
.marginLeft10 {margin-left:10px !important;}
.marginLeft15 {margin-left:15px !important;}
.marginLeft20 {margin-left:20px !important;}
.marginRight0 {margin-right:5px !important;}
.marginLeft40 {margin-left:40px !important;}
.marginRight5 {margin-right:5px !important;}
.marginRight10 {margin-right:10px !important;}
.marginRight15 {margin-right:15px !important;}
.marginRight20 {margin-right:20px !important;}
.marginRight30 {margin-right:30px !important;}
.marginRight40 {margin-right:40px !important;}
.margin0 {margin:0px !important;}
.margin5 {margin:5px}
.margin10 {margin:10px}
.margin15 {margin:15px}
.margin20 {margin:20px}
.margin30 {margin:30px}
.margin40 {margin:40px}
.marginTop-5 {margin-top:-5px !important;}
.marginTop-10 {margin-top:-10px !important;}
.marginTop-15 {margin-top:-15px !important;}

/** --- paddings --- **/

.paddingBottom0 {padding-bottom:0px !important;}
.paddingBottom5 {padding-bottom:5px !important;}
.paddingBottom10 {padding-bottom:10px !important;}
.paddingBottom15 {padding-bottom:15px !important;}
.paddingBottom20 {padding-bottom:20px !important;}
.paddingTop0 {padding-top:0px !important;}
.paddingTop3 {padding-top:3px !important;}
.paddingTop5 {padding-top:5px !important;}
.paddingTop10 {padding-top:10px !important;}
.paddingTop20 {padding-top:20px !important;}
.paddingLeft0 {padding-left:5px !important;}
.paddingLeft5 {padding-left:5px !important;}
.paddingLeft10 {padding-left:10px !important;}
.paddingLeft20 {padding-left:20px !important;}
.paddingRight0 {padding-right:5px !important;}
.paddingRight5 {padding-right:5px !important;}
.paddingRight10 {padding-right:10px !important;}
.paddingRight20 {padding-right:20px !important;}
.padding0 {padding:0px !important;}
.padding5 {padding:5px}
.padding10 {padding:10px}
.padding15 {padding:15px}
.padding20 {padding:20px}
.w350 { width: 350px !important; }

.label { font-family: 黑体; font-weight: bold; color: #000;}
.orangeLabel { font-family: 黑体; font-weight: bold; color: #FF7800;}

.floatLeft{ float: left; }
.floatRight{ float: right; }
.textLeft{ text-align: left; }
.textRight{ text-align: right; }
.textCenter{ text-align: center; }
.bold{ font-weight: bold; }
.relative{ position: relative; }
.absolute{ position: absolute; }
.displayNone{ display: none; }
.iBlock{ display: inline-block; *display: inline; zoom: 1; }

body{
    padding: 40px;
}
header#header{
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 20px;
}

ul.selector li{
    padding: 5px 20px;
    margin-right: 10px;
    background: #666;
    color: #fff;
    cursor: pointer;
}
ul.selector li.selected,
ul.selector li.selected:hover {
    background-color: #f60;
}
ul.selector li:hover {
    background-color: #888;
}

ul li{
    margin-bottom: 10px;
}

input, .checkbox{
    border: 1px solid #dadada;
    background: #efefef;
    color: #333;
    padding: 5px;
    margin: 0;
    line-height: 100%;
    vertical-align: middle;
}
input:hover {
    background: #f5f5f5;
}
input:not([type=radio,type=checkbox]) {
    width: 180px;
}
#employee span{
    width: 180px;
    color: #333;
    padding: 5px;
    margin: 0 5px 0 0;
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
}
.checkbox:hover {
    background-color: #888;
}
.checkbox{
    color: #fff;
    border: none;
    padding: 7px 15px 6px;
    cursor: pointer;
    background: #666;
    display: inline-block;
    *display: inline;
}
.checkbox.checked{
    background: #f60;
}
#employee a.checkbox.remove{
    background: #dadada;
}
#employee a.checkbox.remove:hover{
    background: red;
}

ul li input,
ul li .checkbox {
    margin-right: 5px;
}

#loginbox{
    margin-top: 20px;
}
#loginbox p{
    margin-bottom: 5px;
}
#loginbox div.floatLeft{
    margin-right: 5px;
}

#loginbox input[type=submit]{
    height: 65px;
    width: 70px;
    cursor: pointer;
}

#manage #new{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dadada;
}
#new > *{
    margin-bottom: 10px;
}
#new li{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
}
#startDate{
    width: 50px;
}
